<!DOCTYPE html>
<html>
    <head>
        <title>{{ q }} - Search Nexus</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/success.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    </head>
    <body>
        <div id="result-container">
            {% if result %}
                <!-- Display search results -->
                <div id="result">
                    {% for entry in result %}
                        <!-- Engine name -->
                        <h3>{{ entry.engine }}</h3>
                        <ul>
                            {% if entry.results %}
                                {% for result in entry.results %}
                                    <!-- Results -->
                                    <li>
                                        {% if result.title and result.url %}
                                            <a href="{{ result.url }}">{{ result.title }}</a>
                                            <br>
                                            {% if result.channel_name and result.channel_url %}
                                                <!-- YT Cannel info -->
                                                <a href="{{ result.channel_url }}">{{ result.channel_name }}</a>
                                            {% endif %}

                                            {% if result.body %}
                                                <!-- Snippet of the webpage -->
                                                <p>{{ result.body }}</p>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <!-- Display a message if no URLs found -->
                                <p style="color: #f2f2f2;">Empty.</p>
                            {% endif %}
                        </ul>
                    <hr>
                    {% endfor %}
                </div>
            {% else %}
                <!-- Display a message if no results found -->
                <p style="color: #fff">No results found.</p>
            {% endif %}
        </div>

        <!-- Display the execution time -->
        <div class="execution-time">
            Execution Time: {{ execution_time }} seconds
        </div>
    </body>
</html>
